################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bingo-master/.vs
/Bingo-master/Bingo/bin/Debug/net8.0-windows
/Bingo-master/Bingo/obj
/Bingo-master/Bingo/Properties
